body{
  font-family: 'Mukta', sans-serif;
  margin: 0;
  padding: 0;
}
h2 {
  font-weight: 800;
  font-size: 30px;
  color: #0B4F89;
  text-align: center;
}
h5{
  font-size: 16px;
  text-align: center;
  font-weight: 400;
}
h6 {
  font-size: 18px;
  line-height: 30px;
  color: #000;
  text-align: center;
  font-weight: 600;
}
p {
  font-size: 16px;
  line-height: 27px;
  color: #696666;
}


/* style for first slider container start */
.first-slider-container {
  background: linear-gradient(90.72deg, #00214B 0.62%, #0387AC 99.5%);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.first-slider-container .slider-content {
  display: flex;
  align-items: center;
}
.first-slider-container .slider-content .single-slider h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  text-align: justify;
  color: #FFFFFF;
}
.first-slider-container .slider-content .single-slider p {
  color: #FFFFFF;
}
.first-slider-container .slider-content .single-slider {
  padding: 20px 0;
}
.first-slider-container .slider-content .single-slider button {
  background: #013A63;
  border: 5px solid #FEFEFE;
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  color: #FFFFFF;
  padding: 0 20px;
}
.first-slider-container .slider-content .single-slider .image {
  height: 450px;
}
.first-slider-container .slider-content .single-slider .icon {
  color: #FFFFFF;
  font-size: 35px;
}

.first-slider-container .slider-content .img-part {
  display: flex;
  justify-content: end;
}

@media (max-width: 1400px) {
  .first-slider-container .slider-content .single-slider .image {
    height: 350px;
  }
  .first-slider-container .slider-content .single-slider h2 {
    font-size: 25px;
  }
}

@media (max-width: 991px) {
  .first-slider-container .slider-content {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .first-slider-container .slider-content .single-slider .image {
    height: 250px;
  }
  .first-slider-container .slider-content .single-slider {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .first-slider-container .slider-content .single-slider .image {
    height: 150px;
  }
  .first-slider-container .slider-content .single-slider h2 {
    font-size: 18px;
  }
}
/* style for top slider container end */

/* ===================== Style for progress container start ========================= */
.image-part img {
  height: 440px;
}
.prgs-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: #000000;
  margin: 20px 0 5px 0;
}
.single-prgs {
  background: #E0E7F9;
  border-radius: 5px;
  height: 8.09px;
  position: relative;
}
.single-prgs .inner-prgs {
  background: #F7473C;
  border-radius: 5px;
  height: 8.09px;
  position: relative;
}
.single-prgs .inner-prgs .prgs-float {
  position: absolute;
  right: -15px;
  top: -28px;
}

@media (max-width: 767px) {
  .image-part .image {
    height: 300px;
  }
}
@media (max-width: 500px) {
  .image-part .image {
    height: 200px;
  }
}
/* ===================== Style for progress container end ========================= */

.service-section {
  padding: 0 40px;
}
.service-section .card{
  background: #ECF4FC;
  border: 0px;
  padding-bottom: 40px;
}
.service-section .card .card-body{
  text-align: center;
  border-top: 9px solid #0B4F89;
  border-radius: 5px;
}
.service-section .card .card-body h5{
  color: #000;
}
.service-section .card .card-body h6{
  margin-top: 27px;
}
.service-section .card .card-body P{
  text-align: justify;
  width: 90%;
  margin-left: 5%;
  margin-top: 35px;
}
.service-section .card .card-body .btn{
  background-color: #0B4F89;
  border-radius: 5px;
  padding: 7px 30px;
}
/* Service Section Css End*/

/* CounterUp Part Css Start*/
.brows-more {
  margin: auto;
  display: flex;
  justify-content: center;
}
.brows-more button{
  background-color: #0B4F89;
  padding: 10px 0;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;

  width: 150px;
}
.counterup-section{
  background-color: #0B4F89;
  padding: 40px;
}
.counterup-section .circle {
  width: 150px;
  height: 150px;
  border-radius: 50%; 
  color: #000;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #D1EDFB; 
}
.counterup-section .text{
  display: flex;
  color: #fff;
  margin-top: 20px;
  text-align: center;
}
.counterup-section h4{
  text-align: center;
  font-size: 20px;
}
.counterup-section .fas.fa-plus{
  font-weight: 300;
}
.counterup-section .download-icon{
   margin-right: 10px;
   font-size: 20px;
}

/* CounterUp Part Css End*/

.review-section{
  margin-top: 40px;
}
.review-section h6{
  color: #8B8888;
}
.review-section span{
  color: #000;
}
.review-section .card{
  position: relative;
  z-index: 10;
  background-color: #fff;
  margin-right: 20px;
}
.review-section .card::after{
  content: "";
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  z-index: 10;
  border: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  left: 40px;
  right: auto;
  border-top: 10px solid #EDEAEA;
  bottom: -10px;
}
.review-section p{
  font-size: 16px;
}
.review-section h4{
  font-size: 18px;
  color: #0B4F89;
}
.review-section .review-image{
  margin-top: 20px;
}
/* Review Section Css End*/
/* Slick Dot Design Start*/
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 40px;
  height: 40px;
  padding: 5px;
  cursor: pointer;
  color: #0B4F89;;
  outline: 0;
  background: 0 0;
}
.slick-dots li button:before {
  font-size: 35px;
  font-weight: 700;
  line-height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  content: '-';
  text-align: center;
  opacity: .25;
  color: #9C9595;
}
.slick-dots li.slick-active button:before{
  color: #0B4F89;
}


/*=============================style for footer section=============================*/
.footer-section {
  padding: 0;
  margin: 0;
  background-image: url(./image/footer\ –\ 1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffff;
}
.footer-section .footer-top {
  padding-top: 50px;
  color: #003B42;
  font-weight: 700;
}
.footer-section .footer-top .ft-single {
  padding: 20px;
}
.footer-section .footer-top .ft-single .gradientText {
  position: relative;
  margin-bottom: 30px;
  font-weight: 900;
  background: linear-gradient(to bottom, #012432 0%, #05b5fa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-section .footer-top .ft-single .ft-box-one .ft-data .location {
  font-size: 17px;
  padding-top: 11px;
  color: #003B42;
}
.footer-section .footer-top .ft-single .ft-box-one .ft-data .location:hover {
  cursor: pointer;
  color: orangered;
}

.footer-section .footer-top .ft-single .ft-box-one .ft-data .ft-quict .contuctInfo p  {
  color: #003B42;
}
.footer-section .footer-top .ft-single .ft-box-one .ft-data .ft-quict .contuctInfo .phone {
  color: #068410;
}
.footer-section .footer-top .ft-single .hover:hover {
  cursor: pointer;
  color: orangered;
}
.footer-section .footer-top .ft-single .ft-box-two .ft-data ul {
  margin-left: -30px;
}
.footer-section .footer-top .ft-single .ft-box-two .ft-data ul li {
  list-style: none;
  padding: 8px 0;
}
.footer-section .footer-top .ft-single .ft-box-two .ft-data ul li a {
  color: #003B42;
  font-size: 17px;
  text-decoration: none;
}
.footer-section .footer-top .ft-single .ft-box-two .ft-data ul li a:hover {
  color: orangered;
}
.footer-section .footer-top .ft-box-three-wrapper {
  display: flex;
  color: #003B42;
}
.footer-section .footer-top .ft-box-three-wrapper p {
  color: #003B42;
}
.footer-section .footer-top .ft-box-three-wrapper .ft-social {
  padding-top: 30px;
}
.footer-section .footer-top .ft-box-three-wrapper .ft-social ul li {
  list-style: none;
  font-size: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 3px #003B42;
  border-radius: 5px;
  width: 30px;
  margin-top: 6px;
  text-align: center;
}
.footer-section .footer-top .ft-box-three-wrapper .ft-social .fb {
  color: #0170ED;
}
.footer-section .footer-top .ft-box-three-wrapper .ft-social .tw {
  color: #15A0F4;
}
.footer-section .footer-top .ft-box-three-wrapper .ft-social .link {
  color: #0175A6;
}
.footer-section .footer-top .ft-box-three-wrapper .ft-social .ins {
  color: #9D556F;
}
.footer-section .footer-top .ft-box-three-wrapper .ft-social .youtube {
  color: #F60100;
}
.footer-section .footer-top .ft-box-three-wrapper .ft-social .hover:hover {
  transition: 1s;
  transform: scale(1.2);
}
.footer-section .footer-middle {
  margin: auto;
  padding: 30px 0;
}
.footer-section .footer-middle .member-list-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: #003B42;
  font-weight: 700;
}
.footer-section .footer-middle .member-list-container .member-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-section .footer-middle .member-list-container .member-list p {
  color: #003B42;
}
.footer-section .footer-middle .member-list-container .member-list p:hover {
  color: orangered;
  cursor: pointer;
}
.footer-section .footer-middle .member-list-container .ft-basis img {
  height: 150px;
}
.footer-section .footer-middle .member-list-container .ft-qrCode a img {
  height: 90px;
}
.footer-section .footer-bottom {
  margin: auto;
  padding-top: 12px;
  background: #003B42;
}
.footer-section .footer-bottom .fb-wrapper .Copyright p {
  font-size: 20px;
  font-weight: 600;
}
.footer-section .footer-bottom .fb-wrapper .Copyright p {
  color: #fff;
}
.footer-section .footer-bottom .fb-wrapper .Copyright p a {
  text-decoration: none;
}
.footer-section .footer-bottom .fb-wrapper .Copyright p span {
  color: orangered;
}

.go-up-btn {
  display: flex;
  justify-content: end;
  position: fixed;
  bottom: 60px;
  right: 30px;
  width: 100%;
}
.go-up-btn a {
  font-size: 50px;
  color: #003B42;
}